{% extends "base.html.twig" %}

{% block title %}Me{% endblock %}

{% block body %}
<div class="main">

<form method="post" action="">
    <p>
    <input type="text" name="name" value="{{book.name}}" placeholder="{{book.name}}">
    <input type="text" name="author" value="{{book.author}}" placeholder="{{book.author}}">
    <input type="text" name="isbn" value="{{book.ISBN}}" placeholder="{{book.ISBN}}">
    <input type="text" name="image" value="{{book.image}}" placeholder="{{book.image}}">
    <input type="submit" name="submit" value="Uppdatera"
    onClick="this.form.action='{{ path('book_update_process', {'id': book.id}) }}';"
>





</div>
{% endblock %}