{% extends "base-project.html.twig" %}

{% block title %}Skräp i havet{% endblock %}

{% block body %}
<div class="main">


{# <table>
    <tr>
        <td>År</td>
        <td>Urbana stränder</td>
        <td>Rurala stränder</td>
    </tr>
{% for year in years %}
<tr>
<td>{{ year.year }}</td>
<td>{{ year.urbanBeach }}</td>
<td>{{ year.ruralBeach }}</td>
</tr>
{% endfor %}
</table> #}


{# <table>
    <tr>
        <td>Material</td>
        <td>Procent</td>

    </tr>
{% for material in materials %}
<tr>
<td>{{ material.material }}</td>
<td>{{ material.percentage }}</td>

</tr>
{% endfor %}
</table> #}


{# <table>
    <tr>
        <td>Material</td>
        <td>Procent</td>

    </tr>
{% for material in materialsRural %}
<tr>
<td>{{ material.material }}</td>
<td>{{ material.percentage }}</td>

</tr>
{% endfor %}
</table> #}
<p>Antal skräp/100m på stränder </p>
<div id="chartContainer">
    <canvas id="myChart"></canvas>
  </div>
  <p>Fördeling av material på urbana stränder</p>
  <div>
    <canvas id="UrbanMatrialChart"></canvas>
  </div>
  <p>Fördeling av material på rurala stränder</p>
  <div>
    <canvas id="RuralMatrialChart"></canvas>
  </div>

  
  <script>

    document.getElementById("chartContainer").innerHTML = '&nbsp;';
    document.getElementById("chartContainer").innerHTML = '<canvas id="myChart"></canvas>';
    var garbage = document.getElementById("myChart").getContext("2d");

    new Chart(garbage, {
      type: 'bar',
      data: {
        labels: JSON.parse('{{ labels |json_encode|e("js") }}') ,
        datasets: 
        [{
          label: 'Urbana stränder',
          data: JSON.parse('{{ datasets1 |json_encode|e("js") }}') ,
          borderWidth: 1,
          backgroundColor: [
            '#024959']
        },
        {
            label: 'Rurala stränder',
            data: JSON.parse('{{ datasets2 |json_encode|e("js") }}') ,
            borderWidth: 1,
            backgroundColor: [
                '#F2C185']
          },
        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

    var urbanMaterial = document.getElementById("UrbanMatrialChart").getContext("2d");
    urbanMaterial.height = 600;

    new Chart(urbanMaterial, {
        type: 'pie',
        data: {
                labels: JSON.parse('{{ labelsUrban |json_encode|e("js") }}'),
                datasets: [{
                  label: 'Procent',
                  data: JSON.parse('{{ datasetsUrban |json_encode|e("js") }}'),
                  backgroundColor: [
                    '#024959',
                    '#011F26',
                    '#026873',
                    '#F2C185',
                    '#BFAE99',
                    '#027B73',
                    '#F2EAD0',
                    '#A6A59F',
                    '#012E40',
                    '#91B8B3'
                  ],
                  hoverOffset: 4
                }]
        },
        options: {
            aspectRatio: 2
        }
      });

      var RuralMaterial = document.getElementById("RuralMatrialChart").getContext("2d");
      urbanMaterial.height = 600;
  
      new Chart(RuralMaterial, {
          type: 'pie',
          data: {
                  labels: JSON.parse('{{ labelsRural |json_encode|e("js") }}'),
                  datasets: [{
                    label: 'Procent',
                    data: JSON.parse('{{ datasetsRural |json_encode|e("js") }}'),
                    backgroundColor: [
                        '#024959',
                        '#011F26',
                        '#026873',
                        '#F2C185',
                        '#BFAE99',
                        '#027B73',
                        '#F2EAD0',
                        '#A6A59F',
                        '#012E40',
                        '#91B8B3'
                    ],
                    hoverOffset: 4
                  }]
          },
          options: {
              aspectRatio: 2
          }
        });

  </script>


</div>
</div>
{% endblock %}