{% extends "base-project.html.twig" %}

{% block title %}Skräp i havet{% endblock %}

{% block body %}
<div class="main">


{# <table>
    <tr>
        <td>År</td>
        <td>Urbana stränder</td>
        <td>Rurala stränder</td>
    </tr>
{% for year in years %}
<tr>
<td>{{ year.year }}</td>
<td>{{ year.urbanBeach }}</td>
<td>{{ year.ruralBeach }}</td>
</tr>
{% endfor %}
</table> #}


{# <table>
    <tr>
        <td>Material</td>
        <td>Procent</td>

    </tr>
{% for material in materials %}
<tr>
<td>{{ material.material }}</td>
<td>{{ material.percentage }}</td>

</tr>
{% endfor %}
</table> #}


{# <table>
    <tr>
        <td>Material</td>
        <td>Procent</td>

    </tr>
{% for material in materialsRural %}
<tr>
<td>{{ material.material }}</td>
<td>{{ material.percentage }}</td>

</tr>
{% endfor %}
</table> #}
<p>Antal skräp/100m på stränder </p>
<div id="chartContainer">
    <canvas id="myChart"></canvas>
  </div>


  <p>Statestik från Håll Sverige rent via Sveriges miljömål.</p>

  
  <script>

    document.getElementById("chartContainer").innerHTML = '&nbsp;';
    document.getElementById("chartContainer").innerHTML = '<canvas id="myChart"></canvas>';
    var garbage = document.getElementById("myChart").getContext("2d");

    new Chart(garbage, {
      type: 'bar',
      data: {
        labels: JSON.parse('{{ labels |json_encode|e("js") }}') ,
        datasets: 
        [{
          label: 'Urbana stränder',
          data: JSON.parse('{{ datasets1 |json_encode|e("js") }}') ,
          borderWidth: 1,
          backgroundColor: [
            '#024959']
        },
        {
            label: 'Rurala stränder',
            data: JSON.parse('{{ datasets2 |json_encode|e("js") }}') ,
            borderWidth: 1,
            backgroundColor: [
                '#F2C185']
          },
        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

  </script>


</div>
</div>
{% endblock %}